<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      table {
        border-collapse: collapse;
      }
      th,
      td {
        border: 1px solid black;
        padding: 5px;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <form action="/inicio" method="POST">
      <label>quantidade de restrições:</label>
      <input type="number" name="const" /><br />
      <label>quantidade de variaveis:</label>
      <input type="number" name="var" /><br />
      <input type="submit" value="Enviar" />
    </form>
    {% block content %} {{ content|safe }} {{ content2|safe }}
    
    <pre>
      {{content3}}
    {% for iteration in content3 %}
    <h2>Iteração {{ iteration.iteration }}</h2>
    <table>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th>Cj</th>
        {% set items = iteration.Cj.items() %}
        {% for key, value in items|sort %}
          <th>{{ value }}</th>
        {% endfor %}
        {% set aj_length = items|length %}
        {% for i in range(aj_length, 5) %}
          <th></th>
        {% endfor %}
      </tr>
      <tr>
        <th>CB</th>
        <th>B</th>
        <th>XB</th>
        <th>b</th>
        {% for i in range(aj_length) %}
          <th>a{{ i+1 }}</th>
        {% endfor %}
        <th>MinRatio</th>
      </tr>
      {% for row in iteration.rowi %}
      <tr>
        <td>{{ row.CB }}</td>
        <td>{{ row.B }}</td>
        <td>{{ row.XB }}</td>
        <td>{{ row.b }}</td>
        {% set sorted_aj = row.aj|dictsort %}
        {% for key, value in sorted_aj %}
          <td>{{ value }}</td>
        {% endfor %}
        <td>{{ row.minRatio }}</td>
      </tr>
      {% endfor %}
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>deltaJ</td>
        <td>{{ iteration.deltaJ.a1 }}</td>
        <td>{{ iteration.deltaJ.a2 }}</td>
        <td>{{ iteration.deltaJ.a3 }}</td>
        <td>{{ iteration.deltaJ.a4 }}</td>
        <td>{{ iteration.deltaJ.a5 }}</td>
      </tr>
      
    </table>
    {% if iteration.keyColumn and iteration.keyElement %}
      <p>Coluna Pivô: {{ iteration.keyColumn }}</p>
      <p>Elemento Pivô: {{ iteration.keyElement }}</p>
    {% endif %}
    

    
   {% endfor %}
    </pre>

    {% endblock %}
  </body>
</html>
